<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
   <div class="sidebar">
  <ol>
    <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">Introduzione</a></li>
    <li class="{% if page.url == '/approccio_menu.html' %}active{% endif %}"><a href="{{ site.baseurl }}/approccio_menu" class="{% if page.url == '/approccio_menu.html' %}active{% endif %}">Approccio</a>
      <ol>
        <li class="{% if page.url == '/approccio/scoping.html' %}active{% endif %}"><a href="{{ site.baseurl }}/approccio/scoping" class="{% if page.url == '/approccio/scoping.html' %}active{% endif %}">Scoping</a></li>
        <li class="{% if page.url == '/approccio/planning.html' %}active{% endif %}"><a href="{{ site.baseurl }}/approccio/planning" class="{% if page.url == '/approccio/planning.html' %}active{% endif %}">Planning</a></li>
        <li class="{% if page.url == '/approccio/launching.html' %}active{% endif %}"><a href="{{ site.baseurl }}/approccio/launching" class="{% if page.url == '/approccio/launching.html' %}active{% endif %}">Launching</a></li>
        <li class="{% if page.url == '/approccio/monitoring.html' %}active{% endif %}"><a href="{{ site.baseurl }}/approccio/monitoring" class="{% if page.url == '/approccio/monitoring.html' %}active{% endif %}">Monitoring</a></li>
        <li class="{% if page.url == '/approccio/closing.html' %}active{% endif %}"><a href="{{ site.baseurl }}/approccio/closing" class="{% if page.url == '/approccio/closing.html' %}active{% endif %}">Closing</a></li>
      </ol>
    </li>
    <li class="{% if page.url == '/documentazione_menu.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione_menu" class="{% if page.url == '/documentazione_menu.html' %}active{% endif %}">Documentazione</a>
      <ol>
        <li class="{% if page.url == '/documentazione/scoping.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/scoping" class="{% if page.url == '/documentazione/scoping.html' %}active{% endif %}">Scoping</a>
          <ol>
            <li class="{% if page.url == '/documentazione/scopingC/CoS.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/scopingC/CoS" class="{% if page.url == '/documentazione/scopingC/CoS.html' %}active{% endif %}">CoS</a></li>
            <li class="{% if page.url == '/documentazione/scopingC/POS.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/scopingC/POS" class="{% if page.url == '/documentazione/scopingC/POS.html' %}active{% endif %}">POS</a></li>
            <li class="{% if page.url == '/documentazione/scopingC/Analisi_rischi.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/scopingC/Analisi_rischi" class="{% if page.url == '/documentazione/scopingC/Analisi_rischi.html' %}active{% endif %}">Analisi rischi</a></li>
            <li class="{% if page.url == '/documentazione/scopingC/SWOT.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/scopingC/SWOT" class="{% if page.url == '/documentazione/scopingC/SWOT.html' %}active{% endif %}">SWOT</a></li>
            <li class="{% if page.url == '/documentazione/scopingC/post_prototipo.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/scopingC/post_prototipo" class="{% if page.url == '/documentazione/scopingC/post_prototipo.html' %}active{% endif %}">post prototipo</a></li>
            <li class="{% if page.url == '/documentazione/scopingC/canvas.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/scopingC/canvas" class="{% if page.url == '/documentazione/scopingC/canvas.html' %}active{% endif %}">Canvas</a></li>
            <li class="{% if page.url == '/documentazione/scopingC/RBS.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/scopingC/RBS" class="{% if page.url == '/documentazione/scopingC/RBS.html' %}active{% endif %}">RBS</a></li>
            <li class="{% if page.url == '/documentazione/scopingC/user_story.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/scopingC/user_story" class="{% if page.url == '/documentazione/scopingC/user_story.html' %}active{% endif %}">User stories</a></li>
            <li class="{% if page.url == '/documentazione/scopingC/user_flow.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/scopingC/user_flow" class="{% if page.url == '/documentazione/scopingC/user_flow.html' %}active{% endif %}">User flow</a></li>
          </ol>
        </li>
        <li class="{% if page.url == '/documentazione/planning.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/planning" class="{% if page.url == '/documentazione/planning.html' %}active{% endif %}">Planning</a>
          <ol>
            <li class="{% if page.url == '/documentazione/planningC/wbs.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/planningC/wbs" class="{% if page.url == '/documentazione/planningC/wbs.html' %}active{% endif %}">WBS</a></li>
            <li class="{% if page.url == '/documentazione/planningC/moscow.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/planningC/moscow" class="{% if page.url == '/documentazione/planningC/moscow.html' %}active{% endif %}">MoSCoW</a></li>
            <li class="{% if page.url == '/documentazione/planningC/product_backlog.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/planningC/product_backlog" class="{% if page.url == '/documentazione/planningC/product_backlog.html' %}active{% endif %}">Product backlog</a></li>
            <li class="{% if page.url == '/documentazione/planningC/cash_flow.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/planningC/cash_flow" class="{% if page.url == '/documentazione/planningC/cash_flow.html' %}active{% endif %}">Cash flow</a></li>
            <li class="{% if page.url == '/documentazione/planningC/gantt.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/planningC/gantt" class="{% if page.url == '/documentazione/planningC/gantt.html' %}active{% endif %}">gantt</a></li>
          </ol>
    
        </li>
        <li class="{% if page.url == '/documentazione/launching.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/launching" class="{% if page.url == '/documentazione/launching.html' %}active{% endif %}">Launching</a>
           <ol>
                     <li class="{% if page.url == '/documentazione/launchingC/RASCI.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/launchingC/RASCI" class="{% if page.url == '/documentazione/launchingC/RASCI.html' %}active{% endif %}">RASCI</a>
                     <li class="{% if page.url == '/documentazione/launchingC/regole_operative.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/launchingC/regole_operative" class="{% if page.url == '/documentazione/launchingC/regole_operative.html' %}active{% endif %}">regole_operative</a>
           </ol>
        </li>
        <li class="{% if page.url == '/documentazione/monitoring.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/monitoring" class="{% if page.url == '/documentazione/monitoring.html' %}active{% endif %}">Monitoring</a></li>
        <li class="{% if page.url == '/documentazione/closing.html' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione/closing" class="{% if page.url == '/documentazione/closing.html' %}active{% endif %}">Closing</a></li>
      </ol>
    </li>
    <!-- Aggiungi altri link qui -->
  </ol>
</div>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
