<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="sidebar">
      <ol>
        <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">Introduzione</a></li>
        <li class="{% if page.url == '/documentazione_menu' %}active{% endif %}"><a href="{{ site.baseurl }}/documentazione_menu" class="{% if page.url == '/documentazione_menu' %}active{% endif %}">Documentazione</a>
          <ol>
            <li><a href="{{ site.baseurl }}/documentazione/scoping" class="{% if page.url == '/scoping' %}active{% endif %}">Scoping</a>
              <ol>
                <li><a href="{{ site.baseurl }}/documentazione/scopingC/CoS" class="{% if page.url == '/CoS' %}active{% endif %}">CoS</a></li>
                <li><a href="{{ site.baseurl }}/documentazione/scopingC/POS" class="{% if page.url == '/POS' %}active{% endif %}">POS</a></li>
                <li><a href="{{ site.baseurl }}/documentazione/scopingC/Analisi_rischi" class="{% if page.url == '/Analisi_rischi' %}active{% endif %}">Analisi rischi</a></li>
                <li><a href="{{ site.baseurl }}/documentazione/scopingC/SWOT" class="{% if page.url == '/SWOT' %}active{% endif %}">SWOT</a></li>
                <li><a href="{{ site.baseurl }}/documentazione/scopingC/post_prototipo" class="{% if page.url == '/post_prototipo' %}active{% endif %}">post prototipo</a></li>
                <li><a href="{{ site.baseurl }}/documentazione/scopingC/canvas" class="{% if page.url == '/canvas' %}active{% endif %}">Canvas</a></li>
                <li><a href="{{ site.baseurl }}/documentazione/scopingC/RBS" class="{% if page.url == '/RBS' %}active{% endif %}">RBS</a></li>
                <li><a href="{{ site.baseurl }}/documentazione/scopingC/user_flow" class="{% if page.url == '/user_flow' %}active{% endif %}">User flow</a></li>
              </ol>
            </li>
            <li><a href="{{ site.baseurl }}/documentazione/planning" class="{% if page.url == '/planning' %}active{% endif %}">Planning</a></li>
            <li><a href="{{ site.baseurl }}/documentazione/monitoring" class="{% if page.url == '/monitoring' %}active{% endif %}">Monitoring</a></li>
            <li><a href="{{ site.baseurl }}/documentazione/launching" class="{% if page.url == '/launching' %}active{% endif %}">Launching</a></li>
            <li><a href="{{ site.baseurl }}/documentazione/closing" class="{% if page.url == '/closing' %}active{% endif %}">Closing</a></li>
          </ol>
        </li>
        <li><a href="{{ site.baseurl }}/approccio_menu" class="{% if page.url == '/approccio_menu' %}active{% endif %}">Approccio</a>
          <ol>
            <li><a href="{{ site.baseurl }}/approccio/scoping" class="{% if page.url == '/scoping' %}active{% endif %}">Scoping</a></li>
            <li><a href="{{ site.baseurl }}/approccio/planning" class="{% if page.url == '/planning' %}active{% endif %}">Planning</a></li>
            <li><a href="{{ site.baseurl }}/approccio/monitoring" class="{% if page.url == '/monitoring' %}active{% endif %}">Monitoring</a></li>
            <li><a href="{{ site.baseurl }}/approccio/launching" class="{% if page.url == '/launching' %}active{% endif %}">Launching</a></li>
            <li><a href="{{ site.baseurl }}/approccio/closing" class="{% if page.url == '/closing' %}active{% endif %}">Closing</a></li>
          </ol>
        </li>
        <!-- Aggiungi altri link qui -->
      </ol>
    </div>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
